@font-face {
  font-family: "iconfont"; /* Project id 2704544 */
  src: url('iconfont.woff2?t=1627390106971') format('woff2'),
       url('iconfont.woff?t=1627390106971') format('woff'),
       url('iconfont.ttf?t=1627390106971') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e6fe";
}

.icon-mima:before {
  content: "\f490";
}

