@font-face {
  font-family: "iconfont"; /* Project id 2704544 */
  src: url('iconfont.woff2?t=1627869018542') format('woff2'),
       url('iconfont.woff?t=1627869018542') format('woff'),
       url('iconfont.ttf?t=1627869018542') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e657";
}

.icon-essay:before {
  content: "\e6a9";
}

.icon-use:before {
  content: "\e611";
}

.icon-resources:before {
  content: "\e605";
}

.icon-admin:before {
  content: "\e60a";
}

.icon-picture:before {
  content: "\e600";
}

.icon-vedio:before {
  content: "\e661";
}

.icon-jiankang:before {
  content: "\e666";
}

.icon-yundong2:before {
  content: "\ef41";
}

.icon-caidan:before {
  content: "\e61f";
}

.icon-yundong1:before {
  content: "\e802";
}

.icon-yundong:before {
  content: "\e6d7";
}

.icon-Data_center:before {
  content: "\e601";
}

.icon-mianxingbaoyu:before {
  content: "\e640";
}

.icon-yonghu:before {
  content: "\e6fe";
}

.icon-mima:before {
  content: "\f490";
}

